<!-- <mat-sidenav-container fullscreen>
    <mat-sidenav #sideNav>
        <mat-nav-list>
            <a href="" mat-list-item>
                <mat-icon>
                    house
                </mat-icon>
                Home
            </a>
            <a href="" mat-list-item>
                <mat-icon>
                    profile
                </mat-icon>
                profile
            </a>
            <a href="" mat-list-item>
                <mat-icon>
                    menu
                </mat-icon>
                about
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
            (click)="sideNav.open()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>


        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
</mat-sidenav-container> -->



<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="isLogin">
    <a class="navbar-brand">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" appDropdown [showClass]="'show'"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                *ngIf="userRole.includes('staff')">
                <a class="nav-link" routerLink="/staff-dashboard">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                *ngIf="userRole.includes('hod')">
                <a class="nav-link" routerLink="/hod-dashboard">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/profile">Profile <span class="sr-only">(current)</span></a>
            </li>
            <!-- 
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                *ngIf="userRole.includes('USER')">
                <a class="nav-link" routerLink="/staff-leaves">Leaves</a>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                *ngIf="userRole.includes('ADMIN')">
                <a class="nav-link" routerLink="/hod-leaves">hod Leaves</a>
            </li> -->
            <li class="nav-item">
                <!-- <button class="btn btn-success" (click)="logIn()">Log In</button> -->
                <a class="nav-link" disable>Link</a>

            </li>


        </ul>

        <button mat-raised-button color="warn" (click)="logOut()">
            <mat-icon>
                account_circle
            </mat-icon>
            Log Out
        </button>
    </div>
</nav>