<div class="row">
    <div class="col-sm-2 text-center">
        <p class="display-1">

            {{leavesArray.length}}

        </p>

        <h2>Total Leaves</h2>

    </div>

    <div class="col-sm-2 text-center">
        <p class="display-1">

            {{approved.length}}

        </p>

        <h2>Approved</h2>

    </div>

    <div class="col-sm-2 text-center">
        <p class="display-1">

            {{reject.length}}

        </p>

        <h2>Reject</h2>

    </div>


</div>

<div class="row mt-4">
    <div class="col-sm-4" *ngFor="let leave of leavesArray">
        <div class="card mb-3 shadow">
            <div class="card-body">
                <h1>{{leave.empName}}</h1>

                <p>
                    {{leave.startDate | date }} - {{leave.endDate | date}}
                </p>



                <h2>
                    Reason
                </h2>
                <p>
                    {{leave.reason}}
                </p>

                <h2>
                    Status
                </h2>

                <p [ngClass]="{
                    'text-success' : leave.status === 'Approved',
                    'text-warning' : leave.status === 'Pending',
                    'text-danger' : leave.status === 'Reject'
                }">
                    {{leave.status}}
                </p>
            </div>
        </div>
    </div>
</div>