<div class="row">
    <div class="col-12">
        <div class="main">
            <div class="main-card shadow-lg">
                <mat-card>
                    <mat-card-title *ngIf="alreadyHaveAccount" class="mb-4">
                        Log In
                    </mat-card-title>
                    <mat-card-title *ngIf="!alreadyHaveAccount" class="mb-4 ">
                        Sign Up
                    </mat-card-title>

                    <mat-card-content>
                        <ng-container *ngIf="alreadyHaveAccount">

                            <form action="" #loginForm="ngForm" (ngSubmit)='onLogin(loginForm)' class="form">

                                <mat-form-field appearance="fill">
                                    <!-- <label class="sr-only" for="email">Email</label> -->
                                    <mat-label>Enter your email</mat-label>
                                    <input type="text" name="email" placeholder="jhon@gmail.com" matInput ngModel
                                        #logInEmail="ngModel" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                                        class="text-lowercase" required>

                                    <mat-error *ngIf="logInEmail.errors?.['required']">
                                        This field is Mandatory
                                    </mat-error>

                                    <mat-error *ngIf="logInEmail.errors?.['pattern']">
                                        Please Enter Valid Email ID
                                    </mat-error>

                                </mat-form-field>

                                <mat-form-field appearance="fill">
                                    <mat-label>Enter your password</mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text'" #logInPassword="ngModel" ngModel
                                        name="password" required
                                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{7,}$">
                                    <button mat-icon-button matSuffix (click)="hide = !hide"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>

                                    <mat-error *ngIf="logInPassword.errors?.['required']">
                                        This field is Mandatory
                                    </mat-error>
                                    <mat-error *ngIf="logInPassword.errors?.['pattern']">
                                        password should be container atleast one capital letter , one specail character,
                                        one
                                        number
                                        and
                                        min length
                                        of password should be 8
                                    </mat-error>
                                </mat-form-field>


                                <button mat-raised-button color="primary" type="submit">
                                    Log In
                                </button>
                            </form>
                            <p *ngIf="alreadyHaveAccount" class="d-flex align-ttems-center">

                                <a href=" javascript:;" (click)="alreadyHaveAccount = !alreadyHaveAccount"
                                    class="btn btn-link mt-4">
                                    <span class="text-dark">Not Registered Yet?...</span>
                                    Registered
                                </a>
                            </p>

                        </ng-container>


                        <ng-container *ngIf="!alreadyHaveAccount">
                            <form action="" #signUpForm="ngForm" class="form" (ngSubmit)="onSignUp(signUpForm)">

                                <mat-radio-group aria-label="Select an option" color="primary" class="mb-3" ngModel
                                    #signUpUserROle="ngModel" name="userRole" required>
                                    <mat-radio-button value="hod">HOD</mat-radio-button>
                                    <mat-radio-button value="staff">Staff</mat-radio-button>

                                    <mat-error *ngIf="signUpUserROle.errors?.['required']">
                                        This field is Mandatory
                                    </mat-error>
                                </mat-radio-group>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <mat-form-field class="example-full-width w-100" appearance="fill">
                                            <mat-label>First name</mat-label>
                                            <input matInput #SignUpfirstName="ngModel" ngModel required
                                                name="firstName">

                                            <mat-error *ngIf="SignUpfirstName.errors?.['required']">
                                                This field is Mandatory
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div class=" col-sm-6">
                                        <mat-form-field class="example-full-width w-100" appearance="fill">
                                            <mat-label>Last name</mat-label>
                                            <input matInput #SignUplasttName="ngModel" ngModel required name="lastName">

                                            <mat-error *ngIf="SignUplasttName.errors?.['required']">
                                                This field is Mandatory
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <mat-form-field appearance="fill" class="example-full-width w-100">
                                            <!-- <label class="sr-only" for="email">Email</label> -->
                                            <mat-label>Enter your email</mat-label>
                                            <input type="text" name="email" placeholder="jhon@gmail.com" matInput
                                                ngModel #SignUpemail="ngModel" class="text-lowercase"
                                                pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required>

                                            <mat-error *ngIf="SignUpemail.errors?.['required']">
                                                This field is Mandatory
                                            </mat-error>
                                            <mat-error *ngIf="SignUpemail.errors?.['pattern']">
                                                Please Enter Valid Email ID
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6">
                                        <mat-form-field class="example-full-width w-100" appearance="fill">
                                            <mat-label>Contact</mat-label>
                                            <input matInput #SignUpContactName="ngModel" ngModel name="contact">

                                            <mat-error *ngIf="SignUpContactName.errors?.['required']">
                                                This field is Mandatory
                                            </mat-error>


                                            <!-- <mat-label>Telephone</mat-label>
                                            <span matPrefix>+1 &nbsp;</span>
                                            <input type="tel" matInput placeholder="555-555-1234">
                                            <mat-icon matSuffix>mode_edit</mat-icon> -->
                                        </mat-form-field>

                                        <!-- <mat-form-field class="example-full-width w-100" appearance="fill">
                                            <mat-label>Select Department</mat-label>
                                            <mat-select disableRipple>
                                                <mat-option value="1">Option 1</mat-option>
                                                <mat-option value="2">Option 2</mat-option>
                                                <mat-option value="3">Option 3</mat-option>
                                            </mat-select>
                                        </mat-form-field> -->
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-sm-6">
                                        <mat-form-field appearance="fill" class="example-full-width w-100">
                                            <mat-label>Enter your password</mat-label>
                                            <input matInput [type]="hide ? 'password' : 'text'"
                                                #signUpPassword="ngModel" ngModel name="password" required
                                                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{7,}$">
                                            <button mat-icon-button matSuffix (click)="hide = !hide"
                                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                            </button>

                                            <mat-error *ngIf="signUpPassword.errors?.['required']">
                                                This field is Mandatory
                                            </mat-error>
                                            <mat-error *ngIf="signUpPassword.errors?.['pattern']">
                                                password should be container atleast one capital letter , one specail
                                                character,
                                                one
                                                number
                                                and
                                                min length
                                                of password should be 8
                                            </mat-error>
                                        </mat-form-field>

                                    </div>
                                    <div class="col-sm-6">

                                        <mat-form-field appearance="fill" class="example-full-width w-100">
                                            <mat-label>Confirm your password</mat-label>
                                            <input matInput [type]="hide1 ? 'password' : 'text'" #RePassword="ngModel"
                                                ngModel name="repassword" required
                                                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{7,}$"
                                                [disabled]="(signUpPassword.invalid)? true: false">

                                            <button mat-icon-button matSuffix (click)=" hide1=!hide1"
                                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                                                <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                            </button>
                                            <!-- 
                                            <mat-error *ngIf="RePassword.errors?.['required']">
                                                This field is Mandatory
                                            </mat-error> -->

                                            <mat-error *ngIf="signUpPassword.value !== RePassword.value">
                                                please use same password

                                            </mat-error>












                                            <!-- "password2.invalid && !password2.hasError('required')" -->

                                            <!-- <mat-error *ngIf=" signInRePassword.errors?.['pattern']">
                                        password should be container atleast one capital letter , one specail character,
                                        one
                                        number
                                        and
                                        min length
                                        of password should be 8
                                    </mat-error> -->
                                        </mat-form-field>

                                    </div>
                                </div>




                                <!-- <mat-form-field appearance="fill">
                                    <mat-label>Select a UserRole</mat-label>
                                    <mat-select ngModel #signUpUserROle="ngModel" name="userRole" required>
                                        <mat-option value="USER">User</mat-option>
                                        <mat-option value="ADMIN">Admin</mat-option>
                                    </mat-select>
        
                                    <mat-error *ngIf="signUpUserROle.errors?.['required']">
                                        This field is Mandatory
                                    </mat-error>
                                </mat-form-field> -->

                                <!-- [disabled]="signUpForm.invalid" -->
                                <button mat-raised-button color="primary" type="submit">
                                    Register
                                </button>

                            </form>

                            <p *ngIf="!alreadyHaveAccount">

                                <a href="javascript:;" (click)="alreadyHaveAccount = !alreadyHaveAccount"
                                    class="btn btn-link mt-4">
                                    <span class="text-dark">Already Registered?...</span>
                                    Login
                                </a>


                            </p>
                            <!-- 
                            <p>
                                {{signUpPassword.value.length}}
                                {{RePassword.value.length}}
                            </p> -->

                        </ng-container>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>